# Import packages

In [1]:
import sys
import plotly
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
import matplotlib as mpl
from matplotlib.ticker import FuncFormatter
from matplotlib import pyplot as plt

In [ ]:
print("hello world")
print(sys.version_info)

hello world
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

# COVID-19 Project â€“ The Socially Distanced



Research questions:

1) What conditions predict a second wave of COVID-19 infections in a population center?

- Suggestion: What characteristics predict spikes in a second wave of COVID-19 infection in a population center? 

2) Which populations centers can expect a second wave imminently? 

Response variable:

Break into two groups of population centers: 2nd wave and NO 2nd wave. The basis for the categorization should be on the 14-day moving average of new cases per day

Predictive variables:

Disease:

    1) Recovered cases per population

    2) Deaths per population AND/OR deaths per positive cases

    3) Prior hospitalization rate

    4) Prior ICU rate

Testing and Tracing:

    1) Tests conducted per population

    2) Is there a way to quantify tracing protocols or workforce?

Interventions:

    1) Severity level of intervention (create as ordinal factor or dummy variable for different measures in place)

    2) Duration of intervention actions

    3) School closure?

Population Demographics:

    1) Population size AND/OR Population density

    2) Median age

    3) Median income

    4) Racial composition

    5) Transportation statistic (ie airport size)

# machine learning moduling
using data 1

PART - COVID data 1

load COVID data

In [ ]:

df_data = pd.read_csv('https://raw.githubusercontent.com/wlbit666/datathon/master/features_and_labels.csv')

df_X = df_data.drop(['FIPS', 'State', 'Area_Name','Combined_Key', 'case.rate','X8.9.20','labels'], axis=1)
df_X = df_X.fillna(np.nan)

df_X.head()

df_play = df_X[['Female_age85plusr','Total.households','Total.households..Family.households..families.']]
df_play.head()
df_play.dtypes

Female_age85plusr                                   int64
Total.households                                  float64
Total.households..Family.households..families.    float64
dtype: object

In [ ]:
# check all the data type of each column 
for t in df_X.columns: 
  print(df_X[t].dtype, 'is the data type of' + t)

In [ ]:
# locate 'inf' in which row
df_X1 = df_X.round(4)
df_X1.head()
df_X1.index[np.isinf(df_X1).any(1)]

Int64Index([72, 90, 93, 94, 251], dtype='int64')

In [ ]:
# locate 'inf' in which column 
df_X1.columns.to_series()[np.isinf(df_X1).any()]

pop.density    pop.density
dtype: object

In [ ]:
# remove 'inf' from the dataset
df_X = df_X.replace([np.inf, -np.inf], np.nan)
np.any(np.isinf(df_X))

False

clean data

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy= 'median')
imputer.fit(df_X)
df_pimpute = imputer.transform(df_X)
df_X = pd.DataFrame(df_pimpute, columns=df_X.columns)
df_X.head()

   Rural.urban_Continuum.Code_2013  ...  pop.density.percentile
0                              2.0  ...                0.709236
1                              3.0  ...                0.743949
2                              6.0  ...                0.375796
3                              1.0  ...                0.447452
4                              1.0  ...                0.701592

[5 rows x 348 columns]

In [ ]:
g = df_X.columns.to_series().groupby(df_X.dtypes).groups  # group the data type of each column
g

{dtype('float64'): Index(['Rural.urban_Continuum.Code_2013', 'Urban_Influence_Code_2013',
        'Economic_typology_2015', 'POP_ESTIMATE_2018.x', 'N_POP_CHG_2018',
        'Births_2018', 'Deaths_2018', 'NATURAL_INC_2018',
        'INTERNATIONAL_MIG_2018', 'DOMESTIC_MIG_2018',
        ...
        'Number.of.AGGRAVATED.ASSAULTS', 'BURGLRY', 'LARCENY',
        'MOTOR.VEHICLE.THEFTS', 'ARSON', 'X8.9.20', 'POP_ESTIMATE_2018.y',
        'Area', 'pop.density', 'pop.density.percentile'],
       dtype='object', length=349)}

In [ ]:
df_y = df_data[['labels']]
df_y.head()

   labels
0       1
1       1
2       1
3       1
4       0

In [ ]:
# add more attributes "the proportion of race"

total_pop = df_X['POP_ESTIMATE_2018.y']

race_names = df_X.columns[173: 245]
race_names

for name in race_names: 
  prop_name = str(name) + '_prop'
  df_X[prop_name] = df_X[name] / total_pop

df_X.head()

   Rural.urban_Continuum.Code_2013  ...  HNAC_FEMALE_prop
0                              2.0  ...          0.000216
1                              3.0  ...          0.000156
2                              6.0  ...          0.000322
3                              1.0  ...          0.000134
4                              1.0  ...          0.000398

[5 rows x 420 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings("ignore")

para_grid = [
             {'n_estimators':[10, 50, 100, 200], 'max_features': [100, 150, 200, 400]}, 
             {'bootstrap': [False], 'n_estimators':[10, 50, 100, 200], 'max_features': [100, 150, 200, 400]}
]

forest_c = RandomForestClassifier(oob_score = True)

grid_search = GridSearchCV(forest_c, para_grid, cv=5)

grid_search.fit(df_X, df_y)

grid_search.best_params_

{'max_features': 100, 'n_estimators': 50}

In [ ]:
grid_search.cv_results_

{'mean_fit_time': array([1.59116373e+00, 7.64358444e+00, 1.53624762e+01, 3.05340981e+01,
        2.36136675e+00, 1.16138870e+01, 2.34081949e+01, 4.68409731e+01,
        3.09416590e+00, 1.59847747e+01, 3.14417590e+01, 6.31116029e+01,
        6.32464986e+00, 3.29235762e+01, 6.54197897e+01, 1.31238272e+02,
        8.93926620e-03, 8.65421295e-03, 8.41636658e-03, 8.65087509e-03,
        8.69870186e-03, 8.83879662e-03, 8.87689590e-03, 8.66489410e-03,
        8.75763893e-03, 8.76207352e-03, 8.78930092e-03, 8.76235962e-03,
        8.77699852e-03, 8.94308090e-03, 9.82136726e-03, 8.90784264e-03]),
 'mean_score_time': array([0.00408149, 0.00965648, 0.01776257, 0.03116307, 0.00408401,
        0.00987005, 0.01707559, 0.03156891, 0.00455365, 0.00985456,
        0.01681886, 0.03088522, 0.00406022, 0.00990353, 0.01783543,
        0.03189898, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'mean_test_score': array([0.77149504, 0.78168056, 0.78009023, 0.78167701, 0.76132016,
        0.77595516, 0.77086468, 0.78103602, 0.74669073, 0.77595668,
        0.77499468, 0.77563517, 0.74889826, 0.76958725, 0.75845949,
        0.75051138,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'param_bootstrap': masked_array(data=[--, --, --, --, --, --, --, --, --, --, --, --, --, --,
                    --, --, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
              mask=[ True,  True,  True,  True,  True,  True,  True,  True,
                     True,  True,  True,  True,  True,  True,  True,  True,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[100, 100, 100, 100, 150, 150, 150, 150, 200, 200, 200,
                    200, 400, 400, 400, 400, 100, 100, 100, 100, 150, 150,
                    150, 150, 200, 200, 200, 200, 400, 400, 400, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_features': 100, 'n_estimators': 10},
  {'max_features': 100, 'n_estimators': 50},
  {'max_features': 100, 'n_estimators': 100},
  {'max_features': 100, 'n_estimators': 200},
  {'max_features': 150, 'n_estimators': 10},
  {'max_features': 150, 'n_estimators': 50},
  {'max_features': 150, 'n_estimators': 100},
  {'max_features': 150, 'n_estimators': 200},
  {'max_features': 200, 'n_estimators': 10},
  {'max_features': 200, 'n_estimators': 50},
  {'max_features': 200, 'n_estimators': 100},
  {'max_features': 200, 'n_estimators': 200},
  {'max_features': 400, 'n_estimators': 10},
  {'max_features': 400, 'n_estimators': 50},
  {'max_features': 400, 'n_estimators': 100},
  {'max_features': 400, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 100, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 100, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 100, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 100, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 150, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 150, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 150, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 150, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 200, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 200, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 200, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 200, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 400, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 400, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 400, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 400, 'n_estimators': 200}],
 'rank_test_score': array([ 9,  1,  4,  2, 12,  6, 10,  3, 16,  5,  8,  7, 15, 11, 13, 14, 29,
        28, 27, 26, 25, 31, 24, 23, 22, 21, 20, 19, 18, 17, 30, 32],
       dtype=int32),
 'split0_test_score': array([0.73131955, 0.75198728, 0.73926868, 0.76470588, 0.6963434 ,
        0.72496025, 0.71065183, 0.77106518, 0.62480127, 0.7281399 ,
        0.74562798, 0.72972973, 0.69952305, 0.72655008, 0.66136725,
        0.62480127,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split1_test_score': array([0.77424483, 0.77106518, 0.77742448, 0.76947536, 0.75834658,
        0.77583466, 0.77424483, 0.77583466, 0.76629571, 0.76788553,
        0.77106518, 0.77583466, 0.75993641, 0.76947536, 0.77583466,
        0.76947536,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split2_test_score': array([0.79936306, 0.82643312, 0.83757962, 0.82324841, 0.7977707 ,
        0.82324841, 0.82006369, 0.8089172 , 0.81528662, 0.82802548,
        0.82324841, 0.82165605, 0.76751592, 0.81369427, 0.80095541,
        0.81369427,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split3_test_score': array([0.7866242 , 0.77547771, 0.77707006, 0.77229299, 0.77388535,
        0.77866242, 0.76751592, 0.77707006, 0.75796178, 0.77866242,
        0.75955414, 0.77388535, 0.75955414, 0.77070064, 0.77388535,
        0.77866242,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split4_test_score': array([0.76592357, 0.78343949, 0.76910828, 0.77866242, 0.78025478,
        0.77707006, 0.78184713, 0.77229299, 0.76910828, 0.77707006,
        0.77547771, 0.77707006, 0.75796178, 0.76751592, 0.78025478,
        0.76592357,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'std_fit_time': array([1.46247087e-01, 5.86014845e-01, 1.04894475e+00, 1.96096788e+00,
        2.22970868e-01, 8.36554518e-01, 1.69750202e+00, 3.69595916e+00,
        2.84220786e-01, 1.13907441e+00, 2.32925592e+00, 4.30765451e+00,
        5.91257922e-01, 2.35967784e+00, 4.99415869e+00, 8.76087020e+00,
        2.67389471e-04, 1.79170672e-04, 2.13452648e-04, 2.99246589e-04,
        2.08553986e-04, 1.27214810e-04, 1.59413202e-04, 1.27490010e-04,
        1.51830926e-04, 2.05721024e-04, 2.62621458e-04, 3.06067914e-04,
        4.19527841e-04, 9.07666764e-05, 1.16392301e-03, 2.39507022e-04]),
 'std_score_time': array([1.29751500e-04, 1.86227310e-04, 2.35995479e-03, 1.08902870e-03,
        1.12882937e-04, 1.47173454e-04, 5.39934369e-04, 7.98890798e-04,
        1.01834660e-03, 6.29619962e-04, 4.25298987e-04, 7.09348300e-04,
        5.45151054e-05, 3.22895435e-04, 2.01308972e-03, 1.41240351e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 'std_test_score': array([0.02305728, 0.02465254, 0.03196329, 0.02127077, 0.03485934,
        0.03113107, 0.03518347, 0.01411383, 0.06415041, 0.03184747,
        0.02624847, 0.02908743, 0.02490809, 0.02757959, 0.04949282,
        0.06509187,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan])}

In [ ]:
feature_importance = grid_search.best_estimator_.feature_importances_
attributes = df_X.columns
sorted(zip(feature_importance, attributes), reverse=True)

[(0.06808525115990353, 'Feb.Temp.Max...F'),
 (0.06029522604103519, 'Dec.Temp.Max...F'),
 (0.05621308710603921, 'May.Temp.Min...F'),
 (0.03397582053699841, 'Feb.Temp.Min...F'),
 (0.03131467472352066, 'Feb.Temp.AVG...F'),
 (0.01976441233992768, 'Oct.Temp.Max...F'),
 (0.019745155591565106, 'May.Temp.AVG...F'),
 (0.018586433215036783, 'NH_MALE_prop'),
 (0.013799475053282568, 'NHWAC_MALE_prop'),
 (0.013588008185256184, 'Oct.Temp.AVG...F'),
 (0.013244452043262743,
  'Percent.of.adults.with.less.than.a.high.school.diploma.2014.18'),
 (0.011597191809888822, 'NHWAC_FEMALE_prop'),
 (0.008882088634076355, 'NHIAC_FEMALE_prop'),
 (0.008593872712379283, 'HBA_FEMALE_prop'),
 (0.007865100909939776, 'Mar.Temp.Min...F'),
 (0.007592495520700235, 'May.Temp.Max...F'),
 (0.007486466049612411, 'R_birth_2018'),
 (0.007452920547143487, 'CI90LBALLP_2018'),
 (0.007359868603207253, 'NATURAL_INC_2018'),
 (0.007150087127241491, 'NHWA_FEMALE_prop'),
 (0.007081852542035944,
  'Fraction.of.Active.Physicians.Who.Are.Age.60.or.Older.2018..AAMC.'),
 (0.0067280564526996465, 'HBA_MALE_prop'),
 (0.006485072426940619, 'Dec.Precipitation...inch'),
 (0.006260618632836934, 'Jul.Precipitation...inch'),
 (0.006227221402625199, 'NHTOM_FEMALE_prop'),
 (0.00621334095545514, 'HNA_MALE_prop'),
 (0.00619752143935288, 'HNA_FEMALE_prop'),
 (0.00612304454431939, 'R_DOMESTIC_MIG_2018'),
 (0.006082847831081889, 'TOM_FEMALE_prop'),
 (0.005976458818571511, 'NHTOM_MALE_prop'),
 (0.0058579437097658294,
  'Percent.Change.in.Residents.and.Fellows.in.ACGME.Accredited.Programs.2008.2018..AAMC.'),
 (0.00585705915767687,
  'Fraction.of.Active.Physicians.Who.Are.Female.2018..AAMC.'),
 (0.005563902956337766, 'R_NATURAL_INC_2018'),
 (0.005493623190686211, 'NHWA_MALE_prop'),
 (0.005389096071997818, 'Jun.Precipitation...inch'),
 (0.005386553859961313, 'Nov.Precipitation...inch'),
 (0.005110952440667246,
  'Percent.of.adults.completing.some.college.or.associate.s.degree.2014.18'),
 (0.0050946605615665615, 'HWAC_MALE_prop'),
 (0.00489097908777571, 'BA_MALE_prop'),
 (0.0048519048184960355, 'Feb.Precipitation...inch'),
 (0.004796133605018982, 'H_FEMALE_prop'),
 (0.004785401878075656, 'HWAC_FEMALE_prop'),
 (0.004685084717950752, 'HBAC_MALE_prop'),
 (0.004531919836641963, 'INTERNATIONAL_MIG_2018'),
 (0.0044996510204331165, 'NHIA_FEMALE_prop'),
 (0.0043382503450324315, 'NHBA_MALE_prop'),
 (0.0043338878002644075, 'R_NET_MIG_2018'),
 (0.0043113727744619875, 'TOM_MALE_prop'),
 (0.00428392054827275, 'Jan.Precipitation...inch'),
 (0.004200360526729009, 'Sep.Precipitation...inch'),
 (0.004071564651222313, 'H_MALE_prop'),
 (0.003991917364784047, 'PCTPOVALL_2018'),
 (0.0039583222586854865, 'HWA_FEMALE_prop'),
 (0.003774637063789558, 'HIA_MALE_prop'),
 (0.0037685806505583074, 'Sep.Temp.Min...F'),
 (0.0037565892342591722, 'CI90LB017P_2018'),
 (0.0037306682954886977, 'WAC_FEMALE_prop'),
 (0.0035443716866493473, 'NHIAC_MALE_prop'),
 (0.0034698040314087627, 'TOT_MALE_prop'),
 (0.0033987284331455096, 'May.Precipitation...inch'),
 (0.003368946557870683, 'NHBAC_MALE_prop'),
 (0.003287170672650764, 'Aug.Precipitation...inch'),
 (0.0032311951968614465, 'IAC_FEMALE_prop'),
 (0.0031369779825168287, 'PCTPOV517_2018'),
 (0.0031364349869823054, 'HBAC_FEMALE_prop'),
 (0.0029531202164427943, 'WA_FEMALE_prop'),
 (0.0029316605496005244,
  'Fraction.of.Physicians.Retained.in.State.from.Undergraduate.Medical.Education..UME..2018..AAMC.'),
 (0.00293038005061213, 'Aug.Temp.Min...F'),
 (0.0028681232188201232, 'NHIA_MALE_prop'),
 (0.0028396688236866792, 'CI90UBALLP_2018'),
 (0.0027978574717183475, 'DOMESTIC_MIG_2018'),
 (0.0027955474493404995,
  'Percent.of.adults.with.a.bachelor.s.degree.or.higher.2014.18'),
 (0.0027746244172899433, 'NA_FEMALE_prop'),
 (0.0027700830039996765, 'Total.Hospitals..2019.'),
 (0.0027345596922812563, 'HAA_MALE_prop'),
 (0.002724503526152624, 'Apr.Precipitation...inch'),
 (0.002714367175516397, 'HTOM_MALE_prop'),
 (0.0026907427908941166, 'NHNAC_FEMALE_prop'),
 (0.0026763092210379917, 'Sep.Temp.AVG...F'),
 (0.0026744623321014, 'HWA_MALE_prop'),
 (0.0026277080432069388, 'CI90LB517P_2018'),
 (0.002613927711635251, 'Jun.Temp.AVG...F'),
 (0.002609208543266209, 'Unemployment_rate_2018'),
 (0.0026089203012779915, 'NA_MALE_prop'),
 (0.0025789782893394396, 'NHBAC_MALE'),
 (0.0025414567368578513, 'NAC_MALE_prop'),
 (0.0025308406840626775, 'Mar.Precipitation...inch'),
 (0.002529602800467215, 'N_POP_CHG_2018'),
 (0.0025231552605759324, 'NHBA_MALE'),
 (0.0024980144246046247, 'IAC_MALE_prop'),
 (0.002497600117543944, 'HIAC_FEMALE_prop'),
 (0.0024937143601999603, 'Aug.Temp.AVG...F'),
 (0.0024892954420770406, 'NET_MIG_2018'),
 (0.002484282931201882, 'NHNA_MALE_prop'),
 (0.002435978020592583, 'Area.in.square.miles...Land.area'),
 (0.0024321005187115164, 'HNAC_MALE_prop'),
 (0.0024308558053403925, 'Oct.Precipitation...inch'),
 (0.0024166619439388564, 'Area.in.square.miles...Water.area'),
 (0.002390494025288717, 'HAA_FEMALE_prop'),
 (0.0023810590327211414, 'Jan.Temp.Max...F'),
 (0.0023717086521334876, 'Jul.Temp.Min...F'),
 (0.0023649542810938243, 'NAC_FEMALE_prop'),
 (0.002361537544324753, 'Area.in.square.miles...Total.area'),
 (0.0023514918847707734, 'NHBAC_FEMALE_prop'),
 (0.002350824592274016, 'Mar.Temp.AVG...F'),
 (0.002312696577818196, 'Jan.Temp.Min...F'),
 (0.0023083757233192327,
  'Total.Residents.Fellows.in.Primary.Care.ACGME.Programs.per.100000.Population.as.of.Dec..31.2018..AAMC.'),
 (0.002306335202509224,
  'Percent.of.adults.with.a.high.school.diploma.only.2014.18'),
 (0.002277430444991635, 'HAAC_MALE_prop'),
 (0.0022721022656118656,
  'Ratio.of.Residents.and.Fellows..GME..to.Medical.Students..UME..AY.2017.2018..AAMC.'),
 (0.002224199222041727, 'BAC_MALE'),
 (0.00219950263205113, 'WAC_MALE_prop'),
 (0.0021758389746723765,
  'Fraction.Change.in.Student.Enrollment.at.MD.and.DO.Schools.2008.2018..AAMC.'),
 (0.0021321349127442547, 'HWAC_MALE'),
 (0.0020874983161913037, 'Nov.Temp.Max...F'),
 (0.002080552502525427, 'Jul.Temp.Max...F'),
 (0.002072970219974339, 'IA_FEMALE_prop'),
 (0.0020586269169803797, 'HAAC_FEMALE_prop'),
 (0.0020570636368224832, 'GQ_ESTIMATES_2018'),
 (0.002056099012371804, 'Jun.Temp.Max...F'),
 (0.002018700652418085, 'HTOM_FEMALE_prop'),
 (0.001992072341633117,
  'Fraction.of.Residents.in.ACGME.Programs.Who.Are.IMGs.as.of.December.31.2018..AAMC.'),
 (0.001983471787503386, 'NH_FEMALE_prop'),
 (0.001974659560181085, 'Jan.Temp.AVG...F'),
 (0.001968764606944413, 'Median_Household_Income_2018'),
 (0.0019583491145297328, 'TOT_FEMALE_prop'),
 (0.001950003320717589, 'HWA_MALE'),
 (0.0019042397897678432, 'Sep.Temp.Max...F'),
 (0.0019040314581872482, 'NA_FEMALE'),
 (0.0019019000661964847, 'NHNA_FEMALE_prop'),
 (0.0019013554224406811, 'Density.per.square.mile.of.land.area...Population'),
 (0.0018939327057380872, 'NA_MALE'),
 (0.0018116503181287741,
  'Active.General.Surgeons.per.100000.Population.2018..AAMC.'),
 (0.0018083634948747622, 'HIA_FEMALE_prop'),
 (0.0017899405481854064, 'H_MALE'),
 (0.0017861237358780446, 'BAC_FEMALE_prop'),
 (0.0017761532239353628,
  'Fraction.of.Active.Physicians.Who.Are.International.Medical.Graduates..IMGs..2018..AAMC.'),
 (0.00175973725775369,
  'Active.Patient.Care.General.Surgeons.per.100000.Population.2018..AAMC.'),
 (0.0017530165913126014, 'R_death_2018'),
 (0.0017488990046587297, 'Nov.Temp.AVG...F'),
 (0.0017463457857114226, 'Less.than.a.high.school.diploma.2014.18'),
 (0.0017387685934316553, 'Nov.Temp.Min...F'),
 (0.0017334295045223554, 'HNAC_FEMALE_prop'),
 (0.0017212037509321285, 'Jul.Temp.AVG...F'),
 (0.0017040571408968783,
  'Density.per.square.mile.of.land.area...Housing.units'),
 (0.0017035667456972955, 'NHAAC_MALE_prop'),
 (0.001694219352299749, 'Apr.Temp.Max...F'),
 (0.0016734242243638903, 'HNA_MALE'),
 (0.0016358909731055415, 'NHNA_MALE'),
 (0.0016358058549103924, 'NHIAC_FEMALE'),
 (0.0016205508160116932,
  'Total.Active.Patient.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.0016182335803645528, 'Aug.Temp.Max...F'),
 (0.0016054406207244218, 'Area'),
 (0.0016014629691010127, 'CI90UBINC_2018'),
 (0.0015951133119219746, 'Apr.Temp.AVG...F'),
 (0.0015872551251249491, 'AA_MALE_prop'),
 (0.0015740122045221113, 'Med_HH_Income_Percent_of_State_Total_2018'),
 (0.0015618016701424383, 'NHIA_FEMALE'),
 (0.0015592156404900287, 'crime_rate_per_100000'),
 (0.0015541971989038784,
  'Total.Residents.Fellows.in.ACGME.Programs.per.100000.Population.as.of.December.31.2018..AAMC.'),
 (0.0015031213663696935, 'HIAC_MALE_prop'),
 (0.0015021130202805795, 'NHNAC_MALE_prop'),
 (0.0014620931757717932, 'Number.of.AGGRAVATED.ASSAULTS'),
 (0.0014609590272896278, 'CI90UB017P_2018'),
 (0.0014514100165746058, 'NHAA_MALE_prop'),
 (0.0014299131867399773, 'Dec.Temp.AVG...F'),
 (0.0014198136580557766, 'AA_FEMALE_prop'),
 (0.0014161242132256187, 'pop.density'),
 (0.0014093948443797341, 'PCTPOV017_2018'),
 (0.0013982186460327283, 'NHBA_FEMALE_prop'),
 (0.0013817572245950003, 'Dec.Temp.Min...F'),
 (0.0013726588701711757,
  'Student.Enrollment.at.Public.MD.and.DO.Schools.per.100000.Population.AY.2018.2019..AAMC.'),
 (0.0013692948735006096, 'Jun.Temp.Min...F'),
 (0.0013628778537065106,
  'MD.and.DO.Student.Enrollment.per.100000.Population.AY.2018.2019..AAMC.'),
 (0.0013527586597915006, 'HNAC_MALE'),
 (0.0013493974383440677, 'MEDHHINC_2018'),
 (0.0013451430005106107, 'R_INTERNATIONAL_MIG_2018'),
 (0.0013340558320620946,
  'Active.Physicians.per.100000.Population.2018..AAMC.'),
 (0.0012984770021440837, 'RESIDUAL_2018'),
 (0.001297266262950994, 'AAC_FEMALE_prop'),
 (0.0012857049238039063, 'BAC_MALE_prop'),
 (0.0012488420897760067, 'Mar.Temp.Max...F'),
 (0.0012427334918799658, 'WA_MALE_prop'),
 (0.0012363612734489398, 'Total.households..Average.family.size'),
 (0.0012341499291912323, 'NUMBER.OF.AGENCIES.IN.COUNTY.REPORT.CRIMES'),
 (0.0012308444987123802, 'IA_FEMALE'),
 (0.001226249180097515, 'CI90LBINC_2018'),
 (0.0012231579954259692, 'Oct.Temp.Min...F'),
 (0.0012116175055401808, 'Oncology..Cancer..specialists..2019.'),
 (0.0011854275094027337, 'NHIA_MALE'),
 (0.0011726608623573473,
  'Active.Primary.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.0011486173504546364, 'HAA_MALE'),
 (0.0011329360727563881, 'HBA_MALE'),
 (0.0011260764090699066, 'Apr.Temp.Min...F'),
 (0.0011171978046861282, 'CI90LB017_2018'),
 (0.0011134910630258552, 'Pulmonary.Disease..AAMC.'),
 (0.0010757678666328588, 'Endocrinology.Diabetes...Metabolism..AAMC.'),
 (0.0010641859382480997, 'NHIAC_MALE'),
 (0.0010596506488709787, 'Vascular.Surgery..AAMC.'),
 (0.0010589136487040075, 'IA_MALE'),
 (0.001057193886495792, 'BA_FEMALE_prop'),
 (0.0010571037230775828,
  'Total.number.of.UCR..Uniform.Crime.Report..Index.crimes.excluding.arson.'),
 (0.0010183997170447523, 'Thoracic.Surgery..AAMC.'),
 (0.001009032377515288, 'Gastroenterology..AAMC.'),
 (0.0009968566740012814, 'HIAC_MALE'),
 (0.0009724228555980138, 'HBA_FEMALE'),
 (0.0009697758143867531, 'HNA_FEMALE'),
 (0.000949022841191329, 'NHNA_FEMALE'),
 (0.0009426672173874172, 'pop.density.percentile'),
 (0.0009254056466950994, 'Child...Adolescent.Psychiatry....AAMC.'),
 (0.0009232781957072565, 'NHAAC_FEMALE_prop'),
 (0.0009177047467818738, 'ROBBERY'),
 (0.0009169233363880813, 'CI90LB517_2018'),
 (0.0009165319500387726, 'NHAA_FEMALE'),
 (0.000914976651474346, 'IA_MALE_prop'),
 (0.0009108895698678623, 'NHBA_FEMALE'),
 (0.000908844648641408, 'Cardiovascular.Disease..AAMC.'),
 (0.0009050760572759241, 'Rural.urban_Continuum.Code_2013'),
 (0.0009010800767009986, 'Internal.Medicine.Primary.Care..2019.'),
 (0.0008831071261873815, 'Geriatrics.Primary.Care..2019.'),
 (0.0008736734207527168, 'BA_MALE'),
 (0.0008725214865812254, 'NUMBER.OF.AGENCIES.IN.COUNTY.REPORT.ARRESTS'),
 (0.0008632493272056912, 'HIA_FEMALE'),
 (0.0008585926517551895, 'COVERAGE.INDICATOR'),
 (0.0008550615139897044, 'AA_MALE'),
 (0.0008539388572952482,
  'DISABILITY.STATUS.OF.THE.CIVILIAN.NONINSTITUTIONALIZED.POPULATION..Total.Civilian.Noninstitutionalized.Population'),
 (0.000825258624606321, 'NHTOM_MALE'),
 (0.0007985400914491934, 'AAC_MALE_prop'),
 (0.0007789143907103824,
  'SCHOOL.ENROLLMENT..Population.3.years.and.over.enrolled.in.school..Kindergarten'),
 (0.0007682017307376685, 'MOTOR.VEHICLE.THEFTS'),
 (0.0007588836388111536, 'HAAC_FEMALE'),
 (0.0007585923703389032, 'Total_age85plusr'),
 (0.0007571556369840504, 'MARITAL.STATUS..Males.15.years.and.over..Widowed'),
 (0.0007519072418812927, 'CI90UB517P_2018'),
 (0.0007419729848383275, 'Male_age0to17'),
 (0.0007410337597867791,
  'Total.households..Family.households..families...Male.householder.no.wife.present.family'),
 (0.0007351079849020358, 'TOM_FEMALE'),
 (0.0007301087305468859, 'NHNAC_MALE'),
 (0.0007279122317595092, 'Plastic.Surgery..AAMC.'),
 (0.0007214550165830603, 'Total.households..Average.household.size'),
 (0.0007209853415562431, 'HAA_FEMALE'),
 (0.0007165765631387069,
  'Active.Patient.Care.Primary.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.0007093214498817068,
  'SCHOOL.ENROLLMENT..Population.3.years.and.over.enrolled.in.school..College.or.graduate.school'),
 (0.0007068099287532536, 'HOUSEHOLDS.BY.TYPE..'),
 (0.0007063264127618176, 'High.school.diploma.only.2014.18'),
 (0.0007062403319891607, 'HNAC_FEMALE'),
 (0.0007024602140409366,
  'RELATIONSHIP..Population.in.households..Nonrelatives'),
 (0.0007023801649806736, 'Pain.Medicine...Pain.Management..AAMC.'),
 (0.0007020318939530333,
  'DISABILITY.STATUS.OF.THE.CIVILIAN.NONINSTITUTIONALIZED.POPULATION..Total.Civilian.Noninstitutionalized.Population..With.a.disability'),
 (0.0006997020225773377,
  'Family.Medicine.General.Practice.Primary.Care..2019.'),
 (0.0006935266353726592, 'ARSON'),
 (0.0006820668079347325,
  'DISABILITY.STATUS.OF.THE.CIVILIAN.NONINSTITUTIONALIZED.POPULATION..18.to.64.years'),
 (0.0006804613918331271, 'MURDER'),
 (0.0006800062574448171, 'HWAC_FEMALE'),
 (0.0006766604101187838, 'NHTOM_FEMALE'),
 (0.0006758366340430479,
  'DISABILITY.STATUS.OF.THE.CIVILIAN.NONINSTITUTIONALIZED.POPULATION..Under.18.years..With.a.disability'),
 (0.0006744818459515006,
  'MARITAL.STATUS..Females.15.years.and.over..Separated'),
 (0.0006652970424234032, 'NHAAC_MALE'),
 (0.0006469286243915599, 'Cardiology.specialists..2019.'),
 (0.0006450881659112438, 'Economic_typology_2015'),
 (0.000642420256080999, 'HIAC_FEMALE'),
 (0.0006406448791115593,
  'transit_scores...population.weighted.averages.aggregated.from.town.city.level.to.county'),
 (0.0006316892928032922, 'BA_FEMALE'),
 (0.0006242869606864565, 'CI90LBAll_2018'),
 (0.0006241254680974675, 'BAC_FEMALE'),
 (0.0006224863946597742, 'NHAA_MALE'),
 (0.0006212263661320409, 'Infectious.Disease..AAMC.'),
 (0.000618052707360985, 'BURGLRY'),
 (0.0006165946653484466, 'HAAC_MALE'),
 (0.0006128102207712651,
  'Fraction.of.MD.Students.Matriculating.In.State.AY.2018.2019..AAMC.'),
 (0.0006126655543787899, 'NHNAC_FEMALE'),
 (0.0006118164188329472, 'NHAA_FEMALE_prop'),
 (0.0006115740255560675, 'NH_MALE'),
 (0.0006093986572605835,
  'SCHOOL.ENROLLMENT..Population.3.years.and.over.enrolled.in.school..Nursery.school.preschool'),
 (0.0006011945834937231,
  'Endocrinology.Diabetes.and.Metabolism.specialists..2019.'),
 (0.0005936332320118212, 'Sports.Medicine..AAMC.'),
 (0.0005912933333650104, 'HBAC_MALE'),
 (0.0005895082234119115, 'ICU.Beds'),
 (0.000589344499910881, 'HIA_MALE'),
 (0.0005863993678279693, 'HBAC_FEMALE'),
 (0.0005835041962653902, 'Internal.Medicine.Pediatrics..AAMC.'),
 (0.0005831705494247556, 'Allergy...Immunology..AAMC.'),
 (0.0005787726191981595,
  'Total.number.of.UCR..Uniform.Crime.Report..index.crimes.reported.including.arson'),
 (0.0005781551485692589, 'IAC_FEMALE'),
 (0.0005755229176262786, 'Total.nurse.practitioners..2019.'),
 (0.0005652359804353516, 'CI90UB517_2018'),
 (0.0005630656270581344, 'Critical.Care.Medicine..AAMC.'),
 (0.0005610940154581392, 'Male_age65plus'),
 (0.0005607478018658299,
  'DISABILITY.STATUS.OF.THE.CIVILIAN.NONINSTITUTIONALIZED.POPULATION..18.to.64.years..With.a.disability'),
 (0.0005603578275103087, 'NHAAC_FEMALE'),
 (0.0005577863901905951, 'Anatomic.Clinical.Pathology..AAMC.'),
 (0.0005535438535170752, 'CI90UBALL_2018'),
 (0.0005199911667406407, 'Pediatrics....AAMC.'),
 (0.000518897746941273,
  'RELATIONSHIP..Population.in.households..Nonrelatives..Unmarried.partner'),
 (0.0005187936667119346, 'RELATIONSHIP..Population.in.households..Spouse'),
 (0.0005170197687976031, 'POV517_2018'),
 (0.0005112228477994136, 'Anesthesiology..AAMC.'),
 (0.0005100294631041627, 'POVALL_2018'),
 (0.0005053697594724078, 'RAPE'),
 (0.0005013168751565951, 'IAC_MALE'),
 (0.0004991578254981445, 'AAC_MALE'),
 (0.0004984427493856243,
  'SCHOOL.ENROLLMENT..Population.3.years.and.over.enrolled.in.school..High.school..grades.9.12.'),
 (0.0004975106586471839, 'Obstetrics...Gynecology..AAMC.'),
 (0.0004947657881439788, 'HWA_FEMALE'),
 (0.0004931539017486103, 'Preventive.Medicine..AAMC.'),
 (0.0004894801634246212, 'Total_age18to64'),
 (0.00048316502892934826, 'CI90UB017_2018'),
 (0.0004820969368231206, 'NAC_FEMALE'),
 (0.00047079847673719706, 'Neurological.Surgery..AAMC.'),
 (0.0004640336850069459,
  'Total.households..Family.households..families...Female.householder.no.husband.present.family'),
 (0.00044615192999998, 'Deaths_2018'),
 (0.0004412730358808565, 'Male_age85plusr'),
 (0.00044116323278638213, 'Vascular...Interventional.Radiology..AAMC.'),
 (0.0004311775382860334, 'Total.households..Family.households..families.'),
 (0.0004034669781149929, 'NHWA_FEMALE'),
 (0.0003994885406694863, 'WAC_MALE'),
 (0.0003954132803860578, 'Employed_2018'),
 (0.0003923542086606237, 'COUNTY.POPULATION.AGENCIES.REPORT.CRIMES'),
 (0.00039116764473801454,
  'Total.households..Nonfamily.households..Householder.living.alone..65.years.and.over'),
 (0.0003906204030922935, 'WAC_FEMALE'),
 (0.0003797258622393558, 'Bachelor.s.degree.or.higher.2014.18'),
 (0.0003757841471428967, 'NHWAC_FEMALE'),
 (0.000368818517137456,
  'RELATIONSHIP..Population.in.households..Other.relatives'),
 (0.0003606990312212545, 'HTOM_FEMALE'),
 (0.0003600168770841265, 'MARITAL.STATUS..Males.15.years.and.over..Separated'),
 (0.0003596849334713312, 'Total.households..Nonfamily.households'),
 (0.00035687685864105247,
  'MARITAL.STATUS..Males.15.years.and.over..Now.married.except.separated'),
 (0.00035551346822268335, 'NH_FEMALE'),
 (0.0003550237944160394, 'TOM_MALE'),
 (0.00035464722102068914, 'Urban_Influence_Code_2013'),
 (0.00035460831817226167, 'Family.Medicine.General.Practice..AAMC.'),
 (0.0003537800073534755,
  'Total.households..Family.households..families...Married.couple.family'),
 (0.00034912185701306645,
  'MARITAL.STATUS..Females.15.years.and.over..Widowed'),
 (0.0003475652377878014, 'NHBAC_FEMALE'),
 (0.000346497952337489, 'LARCENY'),
 (0.000346435357608674, 'Total.households'),
 (0.00033654565106419176, 'NHWA_MALE'),
 (0.0003352883619643925, 'Emergency.Medicine..AAMC.'),
 (0.00033524483455607367, 'Total.Primary.Care.Physicians..2019.'),
 (0.0003348367221162616, 'AA_FEMALE'),
 (0.0003343046095764347, 'RELATIONSHIP..Population.in.households'),
 (0.0003326060504403167, 'POV017_2018'),
 (0.00032791060987910674, 'HTOM_MALE'),
 (0.0003245098348643999, 'Dermatology..AAMC.'),
 (0.00032360452004936215,
  'SCHOOL.ENROLLMENT..Population.3.years.and.over.enrolled.in.school..Elementary.school..grades.1.8.'),
 (0.0003181162638244207, 'MARITAL.STATUS..Males.15.years.and.over..Divorced'),
 (0.00031226436786159056, 'TOT_MALE'),
 (0.00031102770166567474, 'Total.physician.assistants..2019.'),
 (0.00030749029113927783, 'Births_2018'),
 (0.0003048700054079583, 'COUNTY.POPULATION.AGENCIES.REPORT.ARRESTS'),
 (0.0003031962997611439, 'Orthopedic.Surgery..AAMC.'),
 (0.00029746229158747863,
  'Total.households..Households.with.one.or.more.people.65.years.and.over'),
 (0.00029133863308290027,
  'MARITAL.STATUS..Females.15.years.and.over..Never.married'),
 (0.000291227118277841, 'Psychiatry.specialists..2019.'),
 (0.00028708216810142636, 'Housing.units'),
 (0.0002825300528468654, 'Surgery.specialists..2019.'),
 (0.00028217918813170875, 'Ophthalmology..AAMC.'),

# machine learning moduling
using data 2

In [2]:
df_data = pd.read_csv('https://raw.githubusercontent.com/wlbit666/datathon/master/RawData.csv')

df_X = df_data.drop(['FIPS', 'State', 'County_Equivalent','POP_ESTIMATE_2018.x','pop.density.percentile',
                     'case.rate','case.density.percentile','response'], axis=1)
df_X = df_X.fillna(np.nan)

df_X.head()

   Density.per.square.mile.of.land.area...Population  ...  Unnamed: 83
0                                               71.2  ...          NaN
1                                               15.4  ...          NaN
2                                               37.1  ...          NaN
3                                                6.9  ...          NaN
4                                              529.1  ...          NaN

[5 rows x 76 columns]

In [3]:
df_X = df_X.drop(df_X.columns.to_series()["Unnamed: 68":"Unnamed: 83"], axis=1)
df_X.head()

   Density.per.square.mile.of.land.area...Population  ...  percent.hispanic
0                                               71.2  ...          0.019042
1                                               15.4  ...          0.051277
2                                               37.1  ...          0.027040
3                                                6.9  ...          0.163932
4                                              529.1  ...          0.048387

[5 rows x 60 columns]

In [4]:
np.any(np.isnan(df_X))

True

In [5]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy= 'median')
imputer.fit(df_X)
df_pimpute = imputer.transform(df_X)
df_X = pd.DataFrame(df_pimpute, columns=df_X.columns)
df_X.head()

   Density.per.square.mile.of.land.area...Population  ...  percent.hispanic
0                                               71.2  ...          0.019042
1                                               15.4  ...          0.051277
2                                               37.1  ...          0.027040
3                                                6.9  ...          0.163932
4                                              529.1  ...          0.048387

[5 rows x 60 columns]

In [6]:
df_y = df_data[['response']]
df_y.head()

   response
0         0
1         0
2         0
3         0
4         0

split the dataset 80: 20

In [24]:
from sklearn.model_selection import train_test_split

df_X_train, df_X_test, df_y_train, df_y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=42)

In [25]:
df_X_train.head()

      Density.per.square.mile.of.land.area...Population  ...  percent.hispanic
1292                                              108.2  ...          0.112071
2302                                              199.0  ...          0.017384
761                                               756.6  ...          0.073692
2194                                              113.6  ...          0.016572
1241                                               13.1  ...          0.017301

[5 rows x 60 columns]

In [26]:
df_y_train.head()

      response
1292         0
2302         0
761          0
2194         0
1241         0

In [28]:
np.shape(df_X_train)

(2512, 60)

start the modeling

In [29]:
from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings("ignore")

para_grid = [
             {'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}, 
             {'bootstrap': [False], 'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}
]

forest_c = RandomForestClassifier(oob_score = True)

grid_search = GridSearchCV(forest_c, para_grid, cv=5)

grid_search.fit(df_X_train, df_y_train)

grid_search.best_params_

{'max_features': 10, 'n_estimators': 200}

In [30]:
grid_search.cv_results_

{'mean_fit_time': array([1.15025806e-01, 5.35878325e-01, 1.08602424e+00, 2.15231705e+00,
        1.93886042e-01, 9.78122187e-01, 1.91558523e+00, 3.89464092e+00,
        3.74054289e-01, 1.87430191e+00, 3.69473829e+00, 7.49524202e+00,
        5.79044199e-01, 2.82452912e+00, 5.67273440e+00, 1.12971667e+01,
        3.25956345e-03, 3.10759544e-03, 3.21922302e-03, 3.11117172e-03,
        3.12151909e-03, 3.02066803e-03, 3.08537483e-03, 3.10201645e-03,
        3.00722122e-03, 3.06243896e-03, 3.07397842e-03, 3.13010216e-03,
        3.07970047e-03, 3.35345268e-03, 3.06129456e-03, 3.04036140e-03]),
 'mean_score_time': array([0.00320492, 0.0088203 , 0.01618156, 0.02885199, 0.0031291 ,
        0.00831933, 0.01481519, 0.02763057, 0.00307984, 0.00817471,
        0.01518092, 0.02807093, 0.00319066, 0.00819616, 0.01444116,
        0.02766399, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'mean_test_score': array([0.85907582, 0.87579226, 0.87420101, 0.87977553, 0.8602655 ,
        0.87499782, 0.87459862, 0.87857952, 0.85389813, 0.86504717,
        0.86743602, 0.86942013, 0.86146389, 0.86544557, 0.86942013,
        0.86862728,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'param_bootstrap': masked_array(data=[--, --, --, --, --, --, --, --, --, --, --, --, --, --,
                    --, --, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
              mask=[ True,  True,  True,  True,  True,  True,  True,  True,
                     True,  True,  True,  True,  True,  True,  True,  True,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 40, 40, 60, 60,
                    60, 60, 10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 40, 40,
                    60, 60, 60, 60],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_features': 10, 'n_estimators': 10},
  {'max_features': 10, 'n_estimators': 50},
  {'max_features': 10, 'n_estimators': 100},
  {'max_features': 10, 'n_estimators': 200},
  {'max_features': 20, 'n_estimators': 10},
  {'max_features': 20, 'n_estimators': 50},
  {'max_features': 20, 'n_estimators': 100},
  {'max_features': 20, 'n_estimators': 200},
  {'max_features': 40, 'n_estimators': 10},
  {'max_features': 40, 'n_estimators': 50},
  {'max_features': 40, 'n_estimators': 100},
  {'max_features': 40, 'n_estimators': 200},
  {'max_features': 60, 'n_estimators': 10},
  {'max_features': 60, 'n_estimators': 50},
  {'max_features': 60, 'n_estimators': 100},
  {'max_features': 60, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 200}],
 'rank_test_score': array([15,  3,  6,  1, 14,  4,  5,  2, 16, 12, 10,  7, 13, 11,  7,  9, 30,
        29, 28, 27, 26, 25, 31, 24, 23, 22, 21, 20, 19, 18, 17, 32],
       dtype=int32),
 'split0_test_score': array([0.86282306, 0.88469185, 0.87872763, 0.87475149, 0.86878728,
        0.88469185, 0.87475149, 0.88667992, 0.85089463, 0.86878728,
        0.87276342, 0.88270378, 0.85884692, 0.87673956, 0.89065606,
        0.87673956,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split1_test_score': array([0.85685885, 0.87673956, 0.87673956, 0.88866799, 0.86481113,
        0.87077535, 0.88270378, 0.87872763, 0.86481113, 0.86282306,
        0.86282306, 0.87276342, 0.8667992 , 0.85487078, 0.86481113,
        0.86878728,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split2_test_score': array([0.87051793, 0.88844622, 0.88645418, 0.89243028, 0.87250996,
        0.87848606, 0.88247012, 0.88446215, 0.86055777, 0.88047809,
        0.88645418, 0.88446215, 0.87450199, 0.88446215, 0.88247012,
        0.89043825,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split3_test_score': array([0.84661355, 0.84860558, 0.85258964, 0.8625498 , 0.84262948,
        0.85856574, 0.85258964, 0.85856574, 0.83266932, 0.84661355,
        0.84661355, 0.84462151, 0.83266932, 0.84063745, 0.84462151,
        0.84262948,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split4_test_score': array([0.85856574, 0.88047809, 0.87649402, 0.88047809, 0.85258964,
        0.88247012, 0.88047809, 0.88446215, 0.86055777, 0.86653386,
        0.8685259 , 0.8625498 , 0.87450199, 0.87051793, 0.86454183,
        0.86454183,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'std_fit_time': array([3.72446000e-03, 2.03862169e-02, 2.61550995e-02, 6.64560307e-02,
        9.24716379e-03, 3.60165254e-02, 5.06486490e-02, 1.24381094e-01,
        1.80596839e-02, 4.74262472e-02, 1.14628692e-01, 2.89241673e-01,
        3.67457629e-02, 9.58458899e-02, 2.02458051e-01, 3.36002779e-01,
        1.72163481e-04, 3.63353043e-05, 1.60497863e-04, 2.35257170e-05,
        3.13418793e-05, 3.57292654e-05, 1.36214692e-04, 8.38332614e-05,
        6.25620528e-06, 2.63580986e-05, 2.73790911e-05, 7.29568020e-05,
        2.52324815e-05, 2.57348118e-04, 5.18394586e-05, 4.52227695e-05]),
 'std_score_time': array([6.21224943e-05, 6.06082425e-04, 1.48649109e-03, 8.36517861e-04,
        9.14169835e-05, 1.79720197e-04, 2.08733395e-04, 3.19569312e-04,
        5.54810638e-05, 1.28249110e-04, 8.65788326e-04, 1.13036856e-03,
        2.38819291e-04, 1.27315289e-04, 2.03894286e-04, 6.66067803e-04,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 'std_test_score': array([0.00781597, 0.01415129, 0.01139635, 0.01059886, 0.01107392,
        0.00948493, 0.01137225, 0.01034795, 0.01155403, 0.01094584,
        0.01300857, 0.01467016, 0.01552047, 0.01576187, 0.01600799,
        0.01571069,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan])}

In [31]:
feature_importance = grid_search.best_estimator_.feature_importances_
attributes = df_X_train.columns
sorted(zip(feature_importance, attributes), reverse=True)

[(0.091529966381399, 'May.Temp.AVG...F'),
 (0.06646548331432656, 'percent.black'),
 (0.06418025961064587, 'Mar.Temp.AVG...F'),
 (0.048305486736226096,
  'Percent.of.adults.with.less.than.a.high.school.diploma.2014.18'),
 (0.04640559006283374, 'Jun.Temp.AVG...F'),
 (0.04381880538267546, 'percent.hispanic'),
 (0.04049685870058582, 'Apr.Temp.AVG...F'),
 (0.03400205316770723, 'Aug.Temp.AVG...F'),
 (0.032770455989119644, 'Jul.Temp.AVG...F'),
 (0.02712412905176007, 'percent.white'),
 (0.024971370422252726, 'percent.age.65.plus'),
 (0.02430421799764121, 'percent.age.0.17'),
 (0.020308528060670777, 'cases_shelter_in_place'),
 (0.019419762160287644,
  'Percent.of.adults.completing.some.college.or.associate.s.degree.2014.18'),
 (0.01669486676068617, 'percent.age.18.64'),
 (0.01668500141056042, 'percent.age.85.plus'),
 (0.016579943158917504, 'Median_Household_Income_2018'),
 (0.015177679887915609, 'Density.per.square.mile.of.land.area...Population'),
 (0.014502491201710443, 'percent.asian'),
 (0.014295139148026433,
  'Percent.of.adults.with.a.bachelor.s.degree.or.higher.2014.18'),
 (0.013971592287105605, 'Pulmonary.Disease..AAMC.'),
 (0.013946394124400721,
  'Active.Patient.Care.Primary.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.013915422652914256, 'percent.male'),
 (0.013634563667352495, 'Infectious.Disease..AAMC.'),
 (0.013009796222663366, 'Total.Hospitals..2019.'),
 (0.012855597260203463, 'Unemployment_rate_2018'),
 (0.012692531384950332, 'Med_HH_Income_Percent_of_State_Total_2018'),
 (0.012681435025465666, 'Internal.Medicine..AAMC.'),
 (0.012430123320733203,
  'Total.Active.Patient.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.012287584552730999,
  'Percent.of.adults.with.a.high.school.diploma.only.2014.18'),
 (0.011870665251043296, 'cases_gathering_size_10_0'),
 (0.011706379528768743, 'cases_social_distancing'),
 (0.011009809644017179, 'cases_non-essential_services_closure'),
 (0.010631889155005897, 'Geriatric.Medicine.....AAMC.'),
 (0.010215610388077225, 'crime_rate_per_100000'),
 (0.010149171825461153, 'Critical.Care.Medicine..AAMC.'),
 (0.009788682647837724, 'Emergency.Medicine..AAMC.'),
 (0.009070050226271878, 'Family.Medicine.General.Practice..AAMC.'),
 (0.008514115666990467, 'cases_gathering_size_100_26'),
 (0.007234457795077191, 'days_school_closure'),
 (0.006698559632023725, 'cases_closing_of_public_venues'),
 (0.006484802992348145, 'days_non-essential_services_closure'),
 (0.006374423362863763, 'days_closing_of_public_venues'),
 (0.006262593940831086, 'days_gathering_size_10_0'),
 (0.006134622631493354, 'ICU.Beds'),
 (0.006091376940419843, 'percent.disabled'),
 (0.0057568330298994825, 'Urban_Influence_Code_2013'),
 (0.0055352191446882935,
  'transit_scores...population.weighted.averages.aggregated.from.town.city.level.to.county'),
 (0.0049507377090745085, 'Economic_typology_2015'),
 (0.004947707915113515, 'cases_religious_gatherings_banned'),
 (0.00461213076397728, 'Rural.urban_Continuum.Code_2013'),
 (0.004558028371003528, 'days_religious_gatherings_banned'),
 (0.00421311980743399, 'days_social_distancing'),
 (0.003791610989640053, 'days_shelter_in_place'),
 (0.0037241664618417503, 'cases_school_closure'),
 (0.0033577793488689237, 'cases_gathering_size_25_11'),
 (0.003202838999959212, 'days_gathering_size_100_26'),
 (0.001380206663598663, 'days_gathering_size_500_101'),
 (0.0012162119338361024, 'days_gathering_size_25_11'),
 (0.0010530681280655901, 'cases_gathering_size_500_101')]

try dataset 2 with normalization

In [7]:
from sklearn import preprocessing
c_names = df_X.columns
df_X_scale = preprocessing.scale(df_X)
df_X_scale = pd.DataFrame(df_X_scale, columns=c_names)
df_X_scale.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:173: UserWarning:

Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.

   Density.per.square.mile.of.land.area...Population  ...  percent.hispanic
0                                          -0.189645  ...         -0.560255
1                                          -0.262264  ...         -0.326649
2                                          -0.234023  ...         -0.502290
3                                          -0.273326  ...          0.489740
4                                           0.406267  ...         -0.347593

[5 rows x 60 columns]

In [8]:
from sklearn.model_selection import train_test_split

df_X_scale_train, df_X_scale_test, df_y_train, df_y_test = train_test_split(df_X_scale, df_y, test_size=0.2, random_state=42)
df_X_scale_train.head()

      Density.per.square.mile.of.land.area...Population  ...  percent.hispanic
1292                                          -0.141493  ...          0.113912
2302                                          -0.023326  ...         -0.572271
761                                            0.702336  ...         -0.164215
2194                                          -0.134466  ...         -0.578151
1241                                          -0.265257  ...         -0.572872

[5 rows x 60 columns]

In [36]:
from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings("ignore")

para_grid = [
             {'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}, 
             {'bootstrap': [False], 'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}
]

forest_c = RandomForestClassifier(oob_score = True)

grid_search = GridSearchCV(forest_c, para_grid, cv=5)

grid_search.fit(df_X_scale_train, df_y_train)

grid_search.best_params_

{'max_features': 10, 'n_estimators': 100}

In [37]:
grid_search.cv_results_

{'mean_fit_time': array([1.12895393e-01, 5.35028458e-01, 1.07197886e+00, 2.14034252e+00,
        1.95934105e-01, 9.82766008e-01, 1.94009795e+00, 3.89300961e+00,
        3.75370550e-01, 1.87593622e+00, 3.72652106e+00, 7.51528697e+00,
        5.67024708e-01, 2.84236474e+00, 5.75043416e+00, 1.15617084e+01,
        4.12940979e-03, 3.39217186e-03, 3.25317383e-03, 3.81894112e-03,
        3.89308929e-03, 3.50270271e-03, 3.87983322e-03, 4.03466225e-03,
        3.91893387e-03, 3.55854034e-03, 3.25417519e-03, 3.38234901e-03,
        3.30343246e-03, 3.39937210e-03, 3.30424309e-03, 3.39765549e-03]),
 'mean_score_time': array([0.00362844, 0.00858655, 0.01592546, 0.02893238, 0.00310545,
        0.00862646, 0.01494637, 0.02800465, 0.00314555, 0.00840569,
        0.01471324, 0.02843194, 0.003161  , 0.00841818, 0.01508684,
        0.02872925, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]),
 'mean_test_score': array([0.86105756, 0.87619146, 0.87778508, 0.87778508, 0.86145834,
        0.86982963, 0.87539623, 0.87659145, 0.86147022, 0.87658828,
        0.87021853, 0.87419942, 0.86504241, 0.86663208, 0.8686249 ,
        0.8654432 ,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'param_bootstrap': masked_array(data=[--, --, --, --, --, --, --, --, --, --, --, --, --, --,
                    --, --, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
              mask=[ True,  True,  True,  True,  True,  True,  True,  True,
                     True,  True,  True,  True,  True,  True,  True,  True,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 40, 40, 60, 60,
                    60, 60, 10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 40, 40,
                    60, 60, 60, 60],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200, 10, 50, 100, 200,
                    10, 50, 100, 200, 10, 50, 100, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_features': 10, 'n_estimators': 10},
  {'max_features': 10, 'n_estimators': 50},
  {'max_features': 10, 'n_estimators': 100},
  {'max_features': 10, 'n_estimators': 200},
  {'max_features': 20, 'n_estimators': 10},
  {'max_features': 20, 'n_estimators': 50},
  {'max_features': 20, 'n_estimators': 100},
  {'max_features': 20, 'n_estimators': 200},
  {'max_features': 40, 'n_estimators': 10},
  {'max_features': 40, 'n_estimators': 50},
  {'max_features': 40, 'n_estimators': 100},
  {'max_features': 40, 'n_estimators': 200},
  {'max_features': 60, 'n_estimators': 10},
  {'max_features': 60, 'n_estimators': 50},
  {'max_features': 60, 'n_estimators': 100},
  {'max_features': 60, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 10, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 20, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 40, 'n_estimators': 200},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 10},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 50},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 100},
  {'bootstrap': False, 'max_features': 60, 'n_estimators': 200}],
 'rank_test_score': array([16,  5,  1,  1, 15,  9,  6,  3, 14,  4,  8,  7, 13, 11, 10, 12, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
       dtype=int32),
 'split0_test_score': array([0.88071571, 0.87872763, 0.88071571, 0.87872763, 0.87077535,
        0.86481113, 0.88071571, 0.88270378, 0.86083499, 0.88469185,
        0.87872763, 0.88866799, 0.88071571, 0.87475149, 0.88866799,
        0.87475149,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split1_test_score': array([0.86481113, 0.88071571, 0.87872763, 0.88071571, 0.86878728,
        0.86282306, 0.87475149, 0.87276342, 0.84890656, 0.87872763,
        0.87276342, 0.87077535, 0.86282306, 0.87872763, 0.86282306,
        0.86282306,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split2_test_score': array([0.8685259 , 0.88247012, 0.88844622, 0.89243028, 0.85856574,
        0.89043825, 0.88645418, 0.89043825, 0.88446215, 0.88047809,
        0.88844622, 0.89243028, 0.87848606, 0.88047809, 0.88645418,
        0.87848606,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split3_test_score': array([0.84063745, 0.85458167, 0.8625498 , 0.86055777, 0.83067729,
        0.85059761, 0.85458167, 0.85657371, 0.84063745, 0.85657371,
        0.84661355, 0.85059761, 0.84262948, 0.83266932, 0.84462151,
        0.84661355,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'split4_test_score': array([0.85059761, 0.88446215, 0.87848606, 0.87649402, 0.87848606,
        0.88047809, 0.88047809, 0.88047809, 0.87250996, 0.88247012,
        0.86454183, 0.8685259 , 0.86055777, 0.86653386, 0.86055777,
        0.86454183,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan]),
 'std_fit_time': array([2.83064001e-03, 1.66245129e-02, 3.04044218e-02, 3.86931648e-02,
        6.37478199e-03, 2.93991394e-02, 5.99301527e-02, 7.12075608e-02,
        1.33857719e-02, 5.89846737e-02, 1.38233703e-01, 2.13142186e-01,
        3.02418394e-02, 1.11538401e-01, 1.68003050e-01, 3.16231130e-01,
        5.80593799e-04, 9.82447027e-05, 4.01547852e-05, 2.98593411e-04,
        1.42850688e-04, 1.14184091e-04, 3.49008364e-04, 6.42842185e-04,
        2.73870557e-04, 2.89321416e-04, 3.98280359e-05, 1.13309753e-04,
        2.80770044e-05, 1.11305376e-04, 1.36102223e-04, 5.94678071e-05]),
 'std_score_time': array([6.86479280e-04, 1.28222443e-04, 1.05232701e-03, 1.05478841e-03,
        5.49028656e-05, 2.51480726e-04, 5.72823440e-04, 7.59262553e-04,
        8.93805274e-05, 1.97258375e-04, 4.59280120e-04, 9.63618497e-04,
        8.00414030e-05, 2.09929724e-04, 7.61430088e-04, 1.46970433e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]),
 'std_test_score': array([0.01401927, 0.01097005, 0.00843495, 0.0102216 , 0.01665115,
        0.01401608, 0.01104592, 0.01148533, 0.01576552, 0.01020347,
        0.01414602, 0.01511729, 0.0138113 , 0.0176489 , 0.01670037,
        0.01112649,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan])}

In [38]:
feature_importance = grid_search.best_estimator_.feature_importances_
attributes = df_X_train.columns
sorted(zip(feature_importance, attributes), reverse=True)

[(0.07933804575378066, 'May.Temp.AVG...F'),
 (0.07719330379390105, 'Mar.Temp.AVG...F'),
 (0.06114944253607111, 'percent.black'),
 (0.05077020148884296,
  'Percent.of.adults.with.less.than.a.high.school.diploma.2014.18'),
 (0.04696767081761256, 'percent.hispanic'),
 (0.040829241539476625, 'Apr.Temp.AVG...F'),
 (0.04046765564235245, 'Jun.Temp.AVG...F'),
 (0.03428778530721252, 'Aug.Temp.AVG...F'),
 (0.030777021136723273, 'Jul.Temp.AVG...F'),
 (0.02908546372557221, 'percent.white'),
 (0.02510984691973523, 'percent.age.65.plus'),
 (0.02327957331166302, 'percent.age.0.17'),
 (0.021051520451883382,
  'Percent.of.adults.completing.some.college.or.associate.s.degree.2014.18'),
 (0.020385321419688688, 'cases_shelter_in_place'),
 (0.01820101990699951, 'Median_Household_Income_2018'),
 (0.016514146255185137, 'Density.per.square.mile.of.land.area...Population'),
 (0.016073542021142247, 'percent.age.18.64'),
 (0.015702295909616536, 'Infectious.Disease..AAMC.'),
 (0.01539020563247105, 'percent.asian'),
 (0.015024074195667586, 'Pulmonary.Disease..AAMC.'),
 (0.01459259278456595, 'percent.age.85.plus'),
 (0.013870661117442134, 'Unemployment_rate_2018'),
 (0.013639531815498087, 'percent.male'),
 (0.013192840554138528,
  'Percent.of.adults.with.a.bachelor.s.degree.or.higher.2014.18'),
 (0.012826615376159402, 'Med_HH_Income_Percent_of_State_Total_2018'),
 (0.01277182329520702,
  'Active.Patient.Care.Primary.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.012746515101346462, 'cases_non-essential_services_closure'),
 (0.012359951769563242, 'Geriatric.Medicine.....AAMC.'),
 (0.012284760319511555,
  'Total.Active.Patient.Care.Physicians.per.100000.Population.2018..AAMC.'),
 (0.012107458179024614, 'cases_gathering_size_10_0'),
 (0.012046616075072908, 'Internal.Medicine..AAMC.'),
 (0.01193955077215375,
  'Percent.of.adults.with.a.high.school.diploma.only.2014.18'),
 (0.011559457682631693, 'Total.Hospitals..2019.'),
 (0.011253142681110098, 'crime_rate_per_100000'),
 (0.011059463865403565, 'cases_social_distancing'),
 (0.010110439817027871, 'Family.Medicine.General.Practice..AAMC.'),
 (0.009754238546789966, 'Critical.Care.Medicine..AAMC.'),
 (0.009653971380072924, 'cases_gathering_size_100_26'),
 (0.009424037043336622, 'days_gathering_size_10_0'),
 (0.009188883586892656, 'Emergency.Medicine..AAMC.'),
 (0.00772107308327636, 'days_non-essential_services_closure'),
 (0.006326005038668611, 'percent.disabled'),
 (0.005889272144858079, 'ICU.Beds'),
 (0.0058392126769403795,
  'transit_scores...population.weighted.averages.aggregated.from.town.city.level.to.county'),
 (0.005627589122868839, 'cases_closing_of_public_venues'),
 (0.005602374480083402, 'Urban_Influence_Code_2013'),
 (0.005229488774728924, 'days_school_closure'),
 (0.0050409289757769515, 'Rural.urban_Continuum.Code_2013'),
 (0.004838374481573152, 'days_closing_of_public_venues'),
 (0.0044486730517482136, 'cases_school_closure'),
 (0.004149569624473033, 'days_social_distancing'),
 (0.0041075201701678285, 'Economic_typology_2015'),
 (0.004096514412560648, 'cases_religious_gatherings_banned'),
 (0.004042798981263556, 'days_religious_gatherings_banned'),
 (0.003906117355575744, 'days_shelter_in_place'),
 (0.00297830905448508, 'cases_gathering_size_25_11'),
 (0.002944070837445768, 'days_gathering_size_100_26'),
 (0.001224300107829285, 'cases_gathering_size_500_101'),
 (0.0010043152664037946, 'days_gathering_size_25_11'),
 (0.0010035628307255439, 'days_gathering_size_500_101')]

try normalized with ANN

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

import warnings
warnings.filterwarnings("ignore")

para_grid = [
             {'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}, 
             {'bootstrap': [False], 'n_estimators':[10, 50, 100, 200], 'max_features': [10, 20, 40, 60]}
]

para_grid2 = {
    'hidden_layer_sizes': [(50,50,50), (50,100,), (100,)],
    'activation': ['tanh', 'relu'],
    'alpha': [0.01, 0.05],
    'learning_rate': ['constant','adaptive'],
}

forest_c = RandomForestClassifier(oob_score = True)
ann_c = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(15,), random_state=1)
ann_c2 = MLPClassifier(solver='lbfgs',random_state=1)


grid_search = GridSearchCV(ann_c2, para_grid2, cv=5)

grid_search.fit(df_X_scale_train, df_y_train)

grid_search.best_params_

{'activation': 'relu',
 'alpha': 0.05,
 'hidden_layer_sizes': (50, 100),
 'learning_rate': 'constant'}

In [10]:
grid_search.cv_results_

{'mean_fit_time': array([1.9457593 , 1.94775782, 1.91197634, 1.91210418, 1.3169467 ,
        1.31068125, 5.14392323, 5.15398798, 4.73793235, 4.69547915,
        2.19755454, 2.18500323, 1.46095395, 1.45814705, 1.46863575,
        1.47720933, 1.29477277, 1.29783912, 3.09183784, 3.08876977,
        3.18874216, 3.1923048 , 2.09265771, 2.10023074]),
 'mean_score_time': array([0.00652542, 0.0063695 , 0.00752411, 0.00634289, 0.00503068,
        0.00491142, 0.0061132 , 0.00611725, 0.00601993, 0.00751767,
        0.0049418 , 0.0049542 , 0.00343747, 0.00339079, 0.0054553 ,
        0.00344892, 0.00320659, 0.00296192, 0.00349431, 0.00349402,
        0.00352559, 0.00352368, 0.00298724, 0.00304723]),
 'mean_test_score': array([0.84036577, 0.84036577, 0.83876423, 0.83876423, 0.85031405,
        0.85031405, 0.83359366, 0.83359366, 0.839565  , 0.839565  ,
        0.84871488, 0.84871488, 0.84910537, 0.84910537, 0.85388387,
        0.85388387, 0.84831172, 0.84831172, 0.84433004, 0.84433004,
        0.85388862, 0.85388862, 0.85150135, 0.85150135]),
 'param_activation': masked_array(data=['tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'tanh',
                    'tanh', 'tanh', 'tanh', 'tanh', 'tanh', 'relu', 'relu',
                    'relu', 'relu', 'relu', 'relu', 'relu', 'relu', 'relu',
                    'relu', 'relu', 'relu'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_alpha': masked_array(data=[0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.05, 0.05, 0.05,
                    0.05, 0.05, 0.05, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.05, 0.05, 0.05, 0.05, 0.05, 0.05],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_hidden_layer_sizes': masked_array(data=[(50, 50, 50), (50, 50, 50), (50, 100), (50, 100),
                    (100,), (100,), (50, 50, 50), (50, 50, 50), (50, 100),
                    (50, 100), (100,), (100,), (50, 50, 50), (50, 50, 50),
                    (50, 100), (50, 100), (100,), (100,), (50, 50, 50),
                    (50, 50, 50), (50, 100), (50, 100), (100,), (100,)],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_learning_rate': masked_array(data=['constant', 'adaptive', 'constant', 'adaptive',
                    'constant', 'adaptive', 'constant', 'adaptive',
                    'constant', 'adaptive', 'constant', 'adaptive',
                    'constant', 'adaptive', 'constant', 'adaptive',
                    'constant', 'adaptive', 'constant', 'adaptive',
                    'constant', 'adaptive', 'constant', 'adaptive'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'adaptive'},
  {'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'adaptive'},
  {'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.01,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'adaptive'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'adaptive'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'adaptive'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'constant'},
  {'activation': 'tanh',
   'alpha': 0.05,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.01,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 50, 50),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (50, 100),
   'learning_rate': 'adaptive'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'constant'},
  {'activation': 'relu',
   'alpha': 0.05,
   'hidden_layer_sizes': (100,),
   'learning_rate': 'adaptive'}],
 'rank_test_score': array([17, 17, 21, 21,  7,  7, 23, 23, 19, 19, 11, 11,  9,  9,  3,  3, 13,
        13, 15, 15,  1,  1,  5,  5], dtype=int32),
 'split0_test_score': array([0.85089463, 0.85089463, 0.87077535, 0.87077535, 0.85487078,
        0.85487078, 0.84493042, 0.84493042, 0.87077535, 0.87077535,
        0.85884692, 0.85884692, 0.88270378, 0.88270378, 0.88469185,
        0.88469185, 0.86878728, 0.86878728, 0.88667992, 0.88667992,
        0.88469185, 0.88469185, 0.87077535, 0.87077535]),
 'split1_test_score': array([0.83101392, 0.83101392, 0.83101392, 0.83101392, 0.85685885,
        0.85685885, 0.83499006, 0.83499006, 0.82107356, 0.82107356,
        0.8667992 , 0.8667992 , 0.86282306, 0.86282306, 0.8667992 ,
        0.8667992 , 0.86878728, 0.86878728, 0.84493042, 0.84493042,
        0.85487078, 0.85487078, 0.86083499, 0.86083499]),
 'split2_test_score': array([0.84860558, 0.84860558, 0.85657371, 0.85657371, 0.8625498 ,
        0.8625498 , 0.8247012 , 0.8247012 , 0.85258964, 0.85258964,
        0.86055777, 0.86055777, 0.85258964, 0.85258964, 0.85458167,
        0.85458167, 0.84860558, 0.84860558, 0.84063745, 0.84063745,
        0.85258964, 0.85258964, 0.84661355, 0.84661355]),
 'split3_test_score': array([0.83665339, 0.83665339, 0.80278884, 0.80278884, 0.81474104,
        0.81474104, 0.82071713, 0.82071713, 0.80278884, 0.80278884,
        0.8187251 , 0.8187251 , 0.812749  , 0.812749  , 0.80876494,
        0.80876494, 0.81075697, 0.81075697, 0.79681275, 0.79681275,
        0.81673307, 0.81673307, 0.82071713, 0.82071713]),
 'split4_test_score': array([0.83466135, 0.83466135, 0.83266932, 0.83266932, 0.8625498 ,
        0.8625498 , 0.84262948, 0.84262948, 0.85059761, 0.85059761,
        0.83864542, 0.83864542, 0.83466135, 0.83466135, 0.85458167,
        0.85458167, 0.84462151, 0.84462151, 0.85258964, 0.85258964,
        0.86055777, 0.86055777, 0.85856574, 0.85856574]),
 'std_fit_time': array([0.13490361, 0.13201862, 0.01458368, 0.03114984, 0.14185088,
        0.13266303, 0.02653008, 0.02425326, 0.40222011, 0.43049522,
        0.23635328, 0.22611552, 0.0574463 , 0.04331749, 0.06846857,
        0.07788595, 0.19669238, 0.20894205, 0.05919997, 0.07547579,
        0.05132921, 0.04482954, 0.08909256, 0.08593519]),
 'std_score_time': array([1.61867471e-04, 2.84174944e-05, 2.11318444e-03, 7.82618928e-05,
        5.29582140e-05, 7.76258088e-05, 4.74136813e-05, 3.82141475e-05,
        1.19741074e-04, 2.97750112e-03, 1.14801316e-04, 6.44230825e-05,
        1.21177204e-04, 8.32119780e-05, 3.76777206e-03, 3.50685770e-05,
        5.55338250e-04, 2.67417659e-05, 1.43579730e-04, 1.63589410e-04,
        1.05841803e-04, 8.61846196e-05, 6.66755108e-05, 1.03841624e-04]),
 'std_test_score': array([0.00790608, 0.00790608, 0.0233809 , 0.0233809 , 0.01804696,
        0.01804696, 0.00956032, 0.00956032, 0.02433049, 0.02433049,
        0.0177242 , 0.0177242 , 0.02391478, 0.02391478, 0.02511027,
        0.02511027, 0.02127233, 0.02127233, 0.02875282, 0.02875282,
        0.02180139, 0.02180139, 0.01720505, 0.01720505])}

In [11]:
feature_importance = grid_search.best_estimator_.feature_importances_
attributes = df_X_train.columns
sorted(zip(feature_importance, attributes), reverse=True)

AttributeError: ignored